@font-face {
    font-family: "Google Sans";
    src: url(font/GoogleSans-Regular.ttf) format("ttf")
}

* {
    font-family: "Google Sans", Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea {
    outline: none;
    border-style: solid;
    background-color: transparent;
}

body {
    padding-top: 34px;
}

.container {
    max-width: 1111px;
    margin: 0 auto;
}

header {
    background: #F5F7FA;
    padding: 9px 0;
    position: fixed;
    top: 0;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu {
    display: flex;
}

header .hamburger {
    display: none;
}

@media (max-width: 768px) {
    header .menu {
        display: none;
    }

    header .hamburger {
        display: block;
        justify-self: start;
        padding: 0 0;
    }
}

header .menu-item {
    font-size: 14px;
    line-height: 16px;
    color: #979FAD;
    font-weight: 700;
    margin-right: 35px;
}

header .menu-item:hover {
    filter: brightness(0.7);
}

header .acc-login {
    display: flex;
}

header .acc-login-item {
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    font-weight: 700;
    padding-right: 18px;
}

header .acc-login-item {
    filter: brightness(0.7);
}

header .img-user {
    margin-right: 11px;
}

a:first-child .acc-login-item {
    border-right: 1px solid #333333;
    margin-right: 18px;
}

.header-middle {
    padding: 12px 0;
}

.header-middle .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-middle .basket {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-middle .img-basket {
    height: 16px;
    margin-right: 15px;
}

.header-middle .basket-text-top {
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    font-weight: 700;
}

.header-middle .basket-text-bottom {
    font-size: 12px;
    line-height: 14px;
    color: #979FAD;
    font-weight: 700;
}

.header-bottom {
    background: #FFAF1E;
}

.header-bottom .container {
    padding: 11px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bottom select {
    border: none;
    background-color: #FFAF1E;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    outline: none;
    margin-right: 15px;
    cursor: pointer;
}

.select {
    position: relative;
    display: inline-block;
}

.select:after {
    content: url(img/polygon.svg);
    padding: 0 8px;
    position: absolute;
    right: 29px;
    top: -1px;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}

select {
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.header-bottom .search-input {
    background: #FFFFFF;
    border-radius: 3px;
    width: 655px;
    height: 38px;
    border: none;
    padding-left: 13px;
    font-size: 14px;
    line-height: 16px;
    color: #989FA6;
    margin-right: 20px;
}

.header-bottom .btn-search {
    border: 1.3px solid #FFFFFF;
    border-radius: 3px;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    min-width: 96px;
    padding: 10px 19px;
    cursor: pointer;
}

.header-bottom .btn-search:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.img-search {
    margin-right: 8px;
    margin-left: -7px;
}


@media (max-width: 1200px) {
    .container {
        padding: 0 16px;
    }

    .header-bottom .container {
        padding: 11px 16px;
    }
}

@media (max-width: 600px) {
    .header-bottom select {
        margin-right: 0px;
    }

    .select:after {
        right: 14px;
    }

    .header-bottom .search-input {
        margin-right: 5px;
    }

    .header-bottom .btn-search {
        display: none;
    }
}

main {
    padding: 22px 0;
}

main .container {
    display: flex;
}

main .search-input {
    border: 1px solid #E5E8ED;
    border-radius: 3px;
    font-size: 14px;
    line-height: 16px;
    color: #989FA6;
    font-weight: 400;
    padding: 10px 11px;
    padding-right: 70px;
    background: url(img/gray-search.svg);
    background-repeat: no-repeat;
    background-position: right 3% bottom 45%;
    margin-bottom: 6px;
}

main .sidebar {
    margin-right: 23px;
}

.sidebar .sidebar-item {
    width: 257px;
    min-height: 38px;
    background: #F5F7FA;
    border: 1px solid #E5E8ED;
    border-radius: 3px 3px 0px 0px;
    padding: 10px 10px 10px 13px;
    background-image: url(img/right-arrow.svg);
    background-repeat: no-repeat;
    background-position: right 3% bottom 49%;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    font-weight: 400;
}

.sidebar .sidebar-item:hover {
    filter: brightness(0.9);
}

@media (max-width: 768px) {
    main .sidebar {
        display: none;
    }
}

main .products {
    flex-grow: 1;
}

.products .menu-categories {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
}

.products .menu-categorie {
    font-size: 14px;
    line-height: 16px;
    color: #979FAD;
    font-weight: 500;
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.products .menu-categorie:hover {
    filter: brightness(0.7);
}

.menu-categories a:last-child li {
    color: #333333;
}

.menu-categories a:not(:first-child) li {
    margin-left: 5px;
}

.menu-categorie .line-categorie {
    margin-right: 5px;
}

@media (max-width: 416px) {
    .menu-categories a:last-child .menu-categorie {
        margin-top: 10px;
    }
}

.products .products-caption {
    font-size: 22px;
    line-height: 26px;
    color: #333333;
    font-weight: bold;
    margin-bottom: 18px;
}

@media (max-width: 400px) {
    k .products .products-caption {
        font-size: 21px;
    }
}

.filter-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
}

.filter-buttons .empty-btn {
    border: 1.3px solid #FFAF1E;
    border-radius: 3px;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    font-weight: 500;
    min-width: 89px;
    padding: 7px 22px;
    cursor: pointer;
    margin-right: 5px;
    cursor: pointer;
}

.filter-buttons .filled-btn {
    background: #FFAF1E;
    border: 1.3px solid #FFAF1E;
    border-radius: 3px;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    font-weight: 500;
    min-width: 89px;
    padding: 6px 0;
    cursor: pointer;
}

.filter-buttons .empty-btn:hover,
.filled-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.filter-buttons .btn-end .empty-btn {
    padding: 7px 31px;
}

.filter-buttons .btn-end .filled-btn {
    padding: 6px 4px;
}

@media (max-width: 992px) {

    .filter-buttons .btn-start,
    .btn-end {
        display: flex;
        flex-direction: column;
    }

    .filter-buttons .empty-btn {
        margin-bottom: 10px;
    }
}

@media (max-width: 400px) {
    .filter-buttons {
        display: flex;
        justify-content: start;
    }

    .filter-buttons .btn-start {
        margin-right: 39px;
    }
}

.products .price {
    display: flex;
    margin-bottom: 18px;
}

.products .price-text {
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    font-weight: 500;
    margin-right: 12px;
}

.products select {
    border: none;
    background-image: url(img/gray-arrow.svg);
    background-repeat: no-repeat;
    background-position: right 36% bottom 45%;
    font-size: 14px;
    line-height: 16px;
    color: #979FAD;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

.products .select-price option {
    cursor: pointer;
}

@media (max-width: 1110px) {
    .products .products-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .products .bottom-part-product {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
    }
}

.products .products-item .top-part-product {
    display: flex;
}

.products .products-item .bottom-part-product {
    display: flex;
}

.products .products-item {
    display: flex;
    border-bottom: 1px solid #E5E8ED;
    padding: 15px 0;
}

.section-products .products-item:first-child {
    border-top: 1px solid #E5E8ED;
}

.products .img-rack {
    max-width: 121px;
    max-height: 91px;
    margin-right: 22px;
}

@media (max-width: 600px) {
    .products .top-part-product {
        display: flex;
        flex-direction: column;
    }

    .products .img-rack {
        max-width: none;
        max-height: none;
        width: 100%;
        margin-bottom: 15px;
    }
}

.products .product-description {
    margin-right: 108px;
}

@media (max-width: 1200px) {
    .products .product-description {
        margin-right: 76px;
    }
}

.products .product-item-caption {
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    font-weight: 700;
    margin-top: -3px;
    margin-bottom: 6px;
}

.products .product-item-text {
    font-size: 12px;
    line-height: 14px;
    color: #979FAD;
    font-weight: 700;
    margin-bottom: 25px;
}

.products .product-item-number {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #333333;
}

.products .item-number-car {
    font-size: 14px;
    line-height: 16px;
    color: #2F80ED;
    font-weight: 500;
    cursor: pointer;
}

.products .item-number-car:hover {
    text-decoration-line: underline;
}

.product-item-price {
    align-self: center;
    margin-right: 68px;
}

@media (max-width: 1200px) {
    .products .product-item-price {
        margin-right: 40px;
    }
}

.products .products-price {
    font-size: 20px;
    line-height: 23px;
    font-weight: 700;
    color: #333333;
}

.products .products-available {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #A4ABB7;
}

.products .product-buy {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.products .products-address {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #979FAD;
    margin-bottom: 12px;
}

.products .products-address:hover {
    text-decoration-line: underline;
}

.products .btn-busket {
    display: flex;
    align-items: center;
    background: #FFAF1E;
    border: 1.3px solid #FBA100;
    border-radius: 3px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #FFFFFF;
    cursor: pointer;
    padding: 9px 25px;
}

.products .img-btn-busket {
    margin-right: 10px;
}

.products .btn-busket:hover {
    filter: brightness(0.9);
}